<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2025-2026 Shadow Robot Company Ltd - All Rights Reserved. Proprietary and Confidential.
 Unauthorized copying of the content in this file, via any medium is strictly prohibited.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="macro_e3r3_mounting_plate" params="prefix:=^ parent mounted_tool *origin">
    <!-- Link declarations -->
    <link name="${prefix}mounting_plate_base" > <!-- This is the base of the mounting plate, the side which attaches to an arm -->
      <!-- <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.25" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/4.0}" />
        <geometry>
          <mesh filename="package://dx_description/meshes/mounting_plates/G-SHW063_Tool_change_plate/G-SHW063_Tool_change_plate_base.dae" />
        </geometry>
        <material name="">
          <color rgba="0.0 0.0 0.0 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/4.0}" />
        <geometry>
          <mesh filename="package://dx_description/meshes/mounting_plates/G-SHW063_Tool_change_plate/collision/G-SHW063_Tool_change_plate_base.stl" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}mounting_plate_top" > <!-- This is the top of the mounting plate, the side which attaches to a tool -->
      <!-- <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.1" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/4.0}" />
        <geometry>
          <mesh filename="package://dx_description/meshes/mounting_plates/G-SHW063_Tool_change_plate/G-SHW063_Tool_change_plate_top.dae" />
        </geometry>
        <material name="">
          <color rgba="0.0 0.0 0.0 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/4.0}" />
        <geometry>
          <mesh filename="package://dx_description/meshes/mounting_plates/G-SHW063_Tool_change_plate/collision/G-SHW063_Tool_change_plate_top.stl" />
        </geometry>
      </collision>
    </link>

    <!-- Joint declarations -->
    <joint name="${prefix}mounting_plate_world_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}mounting_plate_base" />
    </joint>

    <joint name="${prefix}mounting_plate_top_bottom" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}mounting_plate_base" />
      <child link="${prefix}mounting_plate_top" />
    </joint>

    <joint name="${prefix}mounting_plate_tool_joint" type="fixed">
      <origin xyz="0 0 0.038" rpy="0 0 0" />
      <parent link="${prefix}mounting_plate_top" />
      <child link="${mounted_tool}" />
    </joint>

    <!-- Gazebo -->
    <gazebo reference="${prefix}mounting_plate_base">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}mounting_plate_top">
      <selfCollide>true</selfCollide>
    </gazebo>

  </xacro:macro>
</robot>
