<robot
  name="dx_e3r3_finger">
  <link
    name="F0_base">
    <inertial>
      <origin
        xyz="8.721E-06 0.00070959 0.074489"
        rpy="0 0 0" />
      <mass
        value="0.53505" />
      <inertia
        ixx="0.00033296"
        ixy="-9.0229E-08"
        ixz="-9.925E-08"
        iyy="0.00031157"
        iyz="-2.0844E-05"
        izz="2.1384E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="F0_J0_link">
    <inertial>
      <origin
        xyz="-0.00010195 0.05981 0.0082795"
        rpy="0 0 0" />
      <mass
        value="0.13181" />
      <inertia
        ixx="1.4834E-05"
        ixy="8.7028E-08"
        ixz="2.4676E-07"
        iyy="1.0323E-05"
        iyz="-3.8604E-06"
        izz="5.7732E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_J0_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_J0_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F0_J0"
    type="revolute">
    <origin
      xyz="0 -0.14073 -0.051327"
      rpy="2.0944 0 0" />
    <parent
      link="F0_base" />
    <child
      link="F0_J0_link" />
    <axis
        xyz="0 -1 0" />
    <limit
        lower="-0.959"
        upper="0.959"
        effort="1.5"
        velocity="2" />
    <safety_controller
        soft_upper="0.95"
        soft_lower="-0.95"
        k_velocity="0" />
  </joint>
  <link
    name="F0_proximal">
    <inertial>
      <origin
        xyz="-0.0015197 0.004506 0.022148"
        rpy="0 0 0" />
      <mass
        value="0.054701" />
      <inertia
        ixx="5.7422E-06"
        ixy="-1.3005E-07"
        ixz="-3.7255E-06"
        iyy="9.8376E-06"
        iyz="-1.2335E-07"
        izz="5.383E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F0_J1"
    type="revolute">
    <origin
      xyz="0 0.0765883365730207 0.0299999999999999"
      rpy="-0.523598775598293 0 0" />
    <parent
      link="F0_J0_link" />
    <child
      link="F0_proximal" />
    <axis
        xyz="1 0 0" />
    <limit
      lower="-1.396"
      upper="0.785"
      effort="1.2"
      velocity="2" />
    <safety_controller
      soft_upper="0.78"
      soft_lower="-1.39"
      k_velocity="0" />
  </joint>
  <link
    name="F0_middle">
    <inertial>
      <origin
        xyz="-0.0007979 0.0035655 0.01918"
        rpy="0 0 0" />
      <mass
        value="0.031029" />
      <inertia
        ixx="3.7111E-07"
        ixy="-3.8346E-07"
        ixz="-4.7413E-08"
        iyy="2.0699E-06"
        iyz="3.758E-08"
        izz="2.1141E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_middle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_middle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F0_J2"
    type="revolute">
    <origin
      xyz="0 0 0.05"
      rpy="0 0 0" />
    <parent
      link="F0_proximal" />
    <child
      link="F0_middle" />
    <axis
        xyz="1 0 0" />
    <limit
        lower="0"
        upper="1.396"
        effort="0.7"
        velocity="2" />
    <safety_controller
        soft_upper="1.39"
        soft_lower="0"
        k_velocity="0" />
  </joint>
  <link
    name="F0_distal">
    <inertial>
      <origin
        xyz="0.00059145 0.0023836 0.013077"
        rpy="0 0 0" />
      <mass
        value="0.0094975" />
      <inertia
        ixx="1.0805E-06"
        ixy="6.3E-09"
        ixz="5.2338E-08"
        iyy="1.0168E-06"
        iyz="-1.2698E-07"
        izz="1.464E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dx_description/meshes/dx_e3r3_finger/F0_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F0_J3"
    type="revolute">
    <origin
      xyz="0 0 0.035"
      rpy="0 0 0" />
    <parent
      link="F0_middle" />
    <child
      link="F0_distal" />
    <axis
        xyz="1 0 0" />
    <limit
        lower="-0.523"
        upper="1.485"
        effort="0.35"
        velocity="0.2" />
    <safety_controller
        soft_upper="1.47"
        soft_lower="-0.51"
        k_velocity="0" />
  </joint>
</robot>
